<head>
	<title>Kristeri chat</title>
</head>
<body>
	<div id="jutt"></div>
	<form>
		<input id="username" value="Krister" placeholder="kasutaja"/>
		<input id="message" value="Minu esimene sonum :)" placeholder="sonum" />
		<input type="submit">
	</form>
	<script src="script.js"></script>
</body>
